* {
    font-family: 'Nunito', sans-serif !important;
    /* font-size: small; */
}

body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    font-family: 'Work Sans', sans-serif;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

section{
    border-color: #333;
    border-style:solid;
    border-radius: 5%;
    padding-left: 5%;
}

.row {
    display: flex;
  }
  
.main {
width: 75%;
margin-left: 10%;
}
.sidebar{
    width:25%;
    position:relative;
}

.vertical {
    border-left: 3px solid black;
    height: 80%;
    position:absolute;
    display:flex;
    left:35%;
    
}
.skills > li{
    list-style: outside;
    margin-bottom: 2px;
    padding-top: 0%;
}
post{
    font-family: 'Work Sans', sans-serif;
}